.two-col {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1300px;
}

aside {
  color: darkgreen;
  background-color: lightgray;
  padding: 1em; /* em is a size related to the current base font */
  padding-bottom: 2em;
  overflow: auto;
}

.center {
  display: inline-block;
}



.two-col main {
  width: calc(100% * 5 / 7);
}

.two-col aside {
  width: calc(100% *  2 / 7);
}






