body {
  text-align: center;
  margin: 0;
}

.box {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background: #dea32c;
}

.rules {
  text-align: left;
  margin-left: 30%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-style: oblique;
}

#entry-box {
  text-align: center;
}

#quiz-box {
  display: none;
  text-align: center;
  align-items: center
}

#score-box {
  display: none;
  text-align: center;
}

.answer-input-text {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 30px;
}

.timer {
  font-size: 30px;
  margin-bottom: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#questions {
  font-weight: bold;
}


button {
  background-color: #b4533c;
  cursor: pointer;
  border-radius: 8px;
  width: 80px;
  height: 30px;
  font-size: medium;
}

button:hover {
  background-color: #f15a22;
}

#reminderField {
  text-align: center;
  margin-top: 20px;
}

table {
  width: 30%;
  border-collapse: collapse;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

th {
  background-color: #af914c;
  color: white;
  padding: 10px;
  text-align: center;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

#highscores-link {
  text-align: center;
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
  color: #4285f4;
  text-decoration: none;
}

#highscores-link:hover {
  text-decoration: underline;
}

#choices-box label {
  font-size: 20px;
  display: block;
  margin: 10px auto;
  margin-left: 50px;
  margin-right: 50px;
  border: gray solid;
  cursor: pointer;
  border-radius: 6px;
}